<div class="container mt-5 w-75 m-auto" style="margin-bottom:250px!important;">
  <h1>À propos de When To Plant</h1>
  <p>
    When To Plant est un site de jardinage de saison destiné à tous les jardiniers. Créé par une équipe de passionnés, nous souhaitons donner l’accès à l’information au plus grand nombre.<br>
    Que vous soyez expert, amateur, passionné ou novice en jardinage, des milliers de conseils en jardinage vous permettront d’en savoir un peu plus sur les plantes.
    On y trouve des conseils sur l’entretien et l’aménagement du jardin, la taille, les maladies et traitements, les légumes du potager, les plantes aromatiques, les fruitiers, les agrumes et tous les trucs et astuces pour bien jardiner.<br>
    Un espace de jardinage permet aux internautes de partager leurs astuces et secrets de jardinage, leurs expériences dans une ambiance chaleureuse et conviviale.
    When To Plant c’est aussi un agenda des évènements jardin et un calendrier lunaire pour jardiner avec la lune.<br>
    When To Plant sera votre meilleur allié et vous accompagnera au quotidien pour réussir vos projets jardinages.
  </p>
</div>
