<div class="container mt-5 w-75 m-auto" style="margin-bottom:250px!important;">
  <h1>Mentions Légales</h1>
  <h3>PROPRIÉTÉ/ÉDITEUR</h3>
  <p>
    When To Plant <br>
    24 rue Louis Blanc <br>
    75010 Paris <br>
    N° Intracom. : FR20810930123 <br>
    Toute reproduction totale ou partielle du contenu du site est prohibée, au sens de l'article L.713-2 du Code de la propriété intellectuelle. <br>
    Responsable de la publication : Boris Paillard, CEO <br>
    Hébergeur : <br>
    OVH SAS <br>
    2 rue Kellermann <br>
    59100 Roubaix <br>
    France
  </p>

  <h3>PHOTOGRAPHIES</h3>
  <p>Les droits des photographies présentées sur le site sont la propriété exclusive de When To Plant</p>

  <h3>RESPONSABILITÉ</h3>
  <ul>
    <li>When To Plant met tout en œuvre pour assurer l'exactitude et la mise à jour de l'ensemble des informations fournies sur son site mais ne peut garantir que celles-ci soient toujours complètes et dépourvues de toute erreur.</li>
    <li>When To Plant se réserve le droit de corriger ou de modifier, à tout moment et sans préavis, le contenu de ce site. Toute tentative de transfert d'information vers un site tiers ou de modification des informations contenues sur ce site est interdite et peut entraîner des poursuites civiles ou pénales de la part de When To Plant.</li>
    <li>When To Plant ne pourra être tenue responsable de l'ensemble des liens hypertextes ou de tout autre élément informatique utilisé, directement ou indirectement, à partir du site, l'existence d'un lien n'ayant pas pour effet de transférer la responsabilité de When To Plant.</li>
    <li>When To Plant ne garantie pas et ne prend aucun engagement concernant des sites tiers et ne sera pas responsable de leur contenu.</li>
    <li>When To Plant ne peut pas garantir que le serveur accueillant le site est exempt de virus et que les fichiers accessibles par téléchargement sur ce site web ou tout autre site tiers sont dépourvus de virus ou d'erreurs de fonctionnement. Dans la mesure où des virus peuvent être transmis via Internet, nous recommandons aux utilisateurs de prendre les mesures nécessaires afin de protéger leur ordinateur contre toute intrusion, contre tout problème technique qui pourrait endommager les composants de l'ordinateur de l'utilisateur ou des données qui pourraient y être stockées.</li>
    <li>En tout état de cause When To Plant ou un de ses sous-traitants ne pourra être responsable d'un dommage quelconque pouvant se produire lors de la connexion et de la navigation sur le site.</li>
  </ul>

  <h3>INFORMATIQUE ET LIBERTÉS</h3>
  <p>Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi "Informatique et Libertés" du 6 Janvier 1978). Pour l'exercer, contactez When To Plant.</p>

  <h3>UTILISATION DES COOKIES</h3>
  <p>Le site utilise les cookies suivants :</p>
  <ul>
    <li>Un cookie pour la gestion des comptes utilisateurs (favoris et connexion au compte). Ce dernier étant un cookie nécessaire au bon fonctionnement du site, il est exempté de consentement.</li>
    <li>Un cookie spécifique à l'utilisation de Google Analytics.</li>
  </ul>
</div>
