.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color:#0C4B36 ;
  color:white;
}

.alert.notice {
  background-color: #0C4B36;
  color:white;
}

.notice {
  background-color: #0C4B36;
  color:white;
}
